.MainMenu{
    text-align: center;
}
.MainMenu p{
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.MainMenu button{
    height: 40px;
    width: 80px;
    font-size: 20px;
    background: cadetblue;
}